<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Automation Sdk</title>
    <link rel="stylesheet" type="text/css" href="../../deps/opt/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="automationApp">
    <h1 class="text-center">Channel Automation Configuration</h1>
    <form action="/install" method="POST"></form>

    <script type="text/javascript" src="../../deps/jquery.min.js"></script>

    <form ng-controller="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <select class="form-control" placeholder="Bot Type" ng-model="integration.config.botType" formControlName="botType">
                        <option value="arrowai" label="ArrowAI Bot">ArrowAI Bot</option>
                        <option value="dialogFlow">Dialog Flow Bot</option>
                        <option value="webhook">API Bot</option>

                    </select>


                </div>
                <div class="col-md-6" ng-if="integration.config.botType=='arrowai'">
                    <select class="form-control" placeholder="Mudule Name" ng-model="integration.config.selectedBot" ng-options="bot._id as  
                        bot.name for bot in moduleList" formControlName="module">
                       
                    </select>
                    <div ng-if='loading' class="spinner-border" style="color: black" role="status">
                        Loading bots...
                    </div>

                </div>
                <div class="col-md-6" ng-if="integration.config.botType=='dialogFlow'">

                    <textarea class="form-control" name="clientSecret" rows="20" [ngModelOptions]="{standalone: true}" ng-model="integration.config.clientSecret" matInput placeholder="Credential Json"></textarea>

                </div>
                <div class="col-md-6 " ng-if="integration.config.botType=='webhook'">

                    <input class="form-control" name="clientSecret" rows="20" [ngModelOptions]="{standalone: true}" ng-model="integration.config.webhookUrl" matInput placeholder="Webhook Url">

                </div>


            </div>
            <hr>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <button ng-click="saveAutomation()" class="btn btn-success pull-right">Save </button>
                </div>
                <div class="col-md-4"></div>

            </div>
        </div>




    </form>
    <script>
        var app = angular.module("automationApp", []);
        const getRouteValueAt = (idx) => {

            const routeTokens = location.pathname.replace(/^\/+/g, '').split('/')
                //[questions,20302776,how-to-get-route-parameter-in-javascript]

            return routeTokens.length > idx ? routeTokens[idx] : undefined
        }
        const applicationId = getRouteValueAt(1); // questions
        const integration = getRouteValueAt(2);
        app.controller('home', function($scope, $http) {
            $scope.loading = true;
            $scope.integration = {
                config: {
                    botType: 'arrowai'
                }
            }
            $http({
                    method: "POST",
                    url: "https://apiserver.arrowai.in/bots",
                    data: {
                        "action": "listbots",
                        "sessionid": "NTc4NjY2YjYzYTQ4OGI0ZDAwOGI0NTY3KzE1NzY2NTcxOTE=",
                        "key": "NTc4NjY2YjYzYTQ4OGI0ZDAwOGI0NTY3KzE1NzY2NTcxOTE=",
                        "appId": applicationId
                    },
                    headers: {
                        key: 'NWVkOWYzMjJiNWQ3YWMwMDE4ZjM3NzliKzE1OTYwMDkyMjE'
                    }
                })
                .then(function(response) {
                    $scope.loading = false;
                    $scope.moduleList = response.data.data;
                    $scope.integration.config.selectedBot = $scope.moduleList[0];
                    console.log($scope.moduleList);
                });

            $scope.saveAutomation = function() {
                $http({
                        method: "POST",
                        url: "https://apiserver.arrowai.in/integration",
                        data: {
                            "appId": applicationId,
                            "integrationId": integration,
                            "integrationConfig": {
                                [integration]: {
                                    "config": $scope.integration.config
                                },
                                "config": $scope.integration.config
                            }
                        },
                        headers: {
                            key: 'NWVkOWYzMjJiNWQ3YWMwMDE4ZjM3NzliKzE1OTYwMDkyMjE'
                        }
                    })
                    .then(function(response) {
                        alert('automation saved succesfully!')
                    });
            }

        });
    </script>
</body>

</html>