<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Channel Sdk</title>
    <link rel="stylesheet" type="text/css" href="../../deps/opt/bootstrap.css" />
</head>

<body>
    <div class="container">
        <h1 class="text-center">Channel Configuration</h1>

        <form action="/install" method="POST"></form>
    </div>

    <script type="text/javascript" src="../../deps/jquery.min.js"></script>
    <script type="text/javascript" src="../../deps/underscore.js"></script>
    <script type="text/javascript" src="../../deps/opt/jsv.js"></script>
    <script type="text/javascript" src="../../lib/jsonform.js"></script>
    <script type="text/javascript">
        let config = <%-JSON.stringify(config) %>;
        $('form').jsonForm({
            schema: <%-JSON.stringify(schema) %>,
            onSubmit: function(errors, values) {
                if (errors) {
                    // $('#res').html('<p>fill All required field</p>');
                } else {
                    let integrationId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(
                        c) {
                        var r = Math.random() * 16 | 0,
                            v = c == 'x' ? r : (r & 0x3 | 0x8);
                        return v.toString(16);
                    });
                    console.log(integrationId);
                    // $.post({
                    //     url: 'http://localhost:5000/integration',
                    //     data: {
                    //         "appId": config.applicationId,
                    //         "integrationId": config.integration,
                    //         "integrationConfig": {
                    //             "config": values
                    //         },
                    //     },
                    //     headers: {
                    //         Header_Name_One: 'Header Value One', //If your header name has spaces or any other char not appropriate
                    //         "Header Name Two": 'Header Value Two' //for object property name, use quoted notation shown in second
                    //     },
                    //     // dataType: 'json',
                    //     success: function(data) {
                    //         console.info(data);
                    //     }
                    // });
                    $.ajaxSetup({
                        headers: {
                            'key': "NWVkOWYzMjJiNWQ3YWMwMDE4ZjM3NzliKzE1OTYwMDkyMjE="
                        }
                    });
                    let configData = {
                        "appId": config.applicationId,
                        integrationId: integrationId,
                        "integration": config.integration,
                        "integrationConfig": values
                    };
                    $.post("http://localhost:5000/integration", {
                        "appId": config.applicationId,
                        integrationId: integrationId,
                        "integration": config.integration,
                        "integrationConfig": values
                    }, function(data) {
                        $.post("http://localhost:3000/config", configData, function(data) {
                            window.location.href =
                                `/automation/${config.applicationId}/${integrationId}`;
                        }, 'json');
                        // window.location.href = `/automation/${config.applicationId}/${integrationId}`;

                    }, 'json');
                }
            }
        });
    </script>
</body>

</html>